$color-primary: #FF7601;
$color-status: #FDF5EE;
$color-border: #E6E6E6;
$color-split: #F0F0F0;
$color-link: #4A90E2;

$color-textHeavy: #333;
$color-text: #666;
$color-textLight: #999;

$fontsz-lg:24px;
$fontsz-md:16px;
$fontsz: 13px;

